[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.11"
django-appconf = "*"
requests = "*"
requests-oauthlib = "*"

[dev-packages]
sphinx = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
requests-mock = "*"
